# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Byte-compiled and cache directories
*.egg-info/
.eggs/
.cache/
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
*.swp
